<section class="section-white" >
    <div class="container">
        <div>
            <h1>La réussite</h1>
            <p>N'est pas le résultat du travail d'un <br>
            seul homme mais de celui de toute <br>
            une équipe.</p>
        </div>  
        <img id="team_spirit" src="assets/team_spirit.svg"/>
    </div>
</section>

<section class="section-beige">
    <div class="container flex-direction-column">
        <div class="secondary-color">
            <img id="connection" src="assets/connection.svg"/>
        </div>
        <div class="white-color">
            <h1>Notre expertise</h1>
            <br>
            <p>Découvrez notre équipe et nos accomplissements.</p>
        </div>     
    </div>
</section>
<section class="section-white">
    <div class="container">
        <div class="">
            <img id="personnat" src="assets/personnat.svg"/>
        </div>
        <div>
            <h1>Qui sommes-nous ?</h1><br>
            <p>Une équipe aux expertises diverses et variées, uni par un seul objectif : la réuissite</p>
        </div>
            
    </div>
</section>
<section class="section-beige">
    <div class="container">
        <div>
            <h1>Rejoindre les Agents du Web</h1>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis vulputate quam, in vehicula metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur molestie dictum ipsum eu ullamcorper. Aliquam erat volutpat. Suspendisse rutrum suscipit felis, sed dignissim tellus interdum at. Mauris condimentum nulla non purus elementum hendrerit vel id nisi. Vestibulum faucibus vestibulum sapien eu hendrerit. Fusce.
            </p>
        </div>
        <div class="secondary-color">
            <img id="worldwide" src="assets/worldwide.svg"/>
        </div>
    </div>
</section>
<section class="section-white">
    <div class="container">
        
    </div>
</section>
<section class = "section-beige">
    <div class="container">
    
    </div>
</section>