<section class = "section-white" >
    <div class = "container">
        <div class = "paragraph-container">
            <h2> La réussite </h2>
            <p>N'est pas le résultat du travail d'un <br>
            seul homme mais de celui de toute <br>
            une équipe.</p>
        </div>  
        <img id = "team_spirit" src="assets/team_spirit.svg"/>
    </div>
</section>

<section class = "section-beige">
    <div class = "container">
        <img id = "connection" src="assets/connection.svg"/>
        <h1>  </h1>
    </div>
</section>

<section class = "section-white">

</section>
<section class = "section-beige">

</section>
<section class = "section-white">

</section>
<section class = "section-beige">

</section>