.landing-page{
    background-color: #F6F3EF;
}
.section {
    height:100%;
    // display:contents;
}

p {
    margin: 0;
}

.container {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        font-size: 2.5em;
        margin-top: 0;
    }
    p { font-size: 1.5em; }
    &--success {
        height: 100vh;
        h1 {
            font-size: 3em;
            margin-top: 0;
        }
        p { font-size: 2em; }
    }
    &--whoAreWe {
        height: 100vh;
        background-color: #D2E1DF;
        & > .image-container {
            flex-basis: 75%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            & > img {
                height: 440px;

            }
        }
        & > .text-container {
            flex-basis: 45%;
            border-left: solid;
            border-left-width: 15px;
            border-left-color:#f8a826;
            background-color: #F6F3EF;
            padding: 0 40px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
    }
    &--expertise {
        display:flex;
        flex-direction:column;
        align-items: center;
        padding: 60px 0;
        .flex-container {
            .boxing {
                margin: 10px;
                flex-basis: 24%;
                &--green {
                    background-color: #D2E1DF;
                }
            }
        }
    }
    &--project {
        flex-direction: column;
        align-items: center;
        .image-container {
            background-color: #D2E1DF;
            width: 100%;
            padding: 20px 0;
        }
        .text-container {
            padding: 60px 0;
            text-align: center;
        }
    }
    &--join {
        flex-direction: row;
        .text-container {
            flex-basis: 40%;
            p { font-size: 2em;}
            padding: 20px 100px;
        }
        .image-container {
            flex-basis: 60%;
            height: 100vh;
            background-color: #D2E1DF;
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
  }
.title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 20vh;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;

        li {
            margin: 0 5px;
        }
    }
    img {
        width: 32px;
        height: 32px;
    }
}
#team_spirit {
    height: 300px;
    width: 350px;
    margin-left: -20px;
}
#connection {
    height: 340px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.flex-direction-column {
    flex-direction: column;
}
.secondary-color-limited{
    background-color: #D2E1DF;
}
.white-color {
    background-color: #fff;
    height: 100%;
    width: 100%;
    text-align: center;
}
.white-color-deux {
    background-color: #fff;
    height: 100%;
    width: 100%;
}
#personnat {
    height: 75vh;
    width: 600px;
}
#worldwide{
    width: 500px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
}
.boxing{
    width: 250px;
    height: 250px;
    margin: 3rem;
}
.image-size{
    width: 100px;
    height: 100px;
}
.flex-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
