.card-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f6f3ef;
  & > .mat-card {
    flex-basis: 33.3%;
    margin: 10px 0;
  }
}
.action-container {
  background-color: #f6f3ef;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 0;
}
