<div class="action-container">
  <button mat-raised-button class="orange-button" [routerLink]="['/backoffice/add-project']">Ajouter</button>
</div>
<div class="card-container">
  <mat-card *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-title>{{project.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{project.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="orange-button" [routerLink]="['show-project/' + project.id]">Consulter</button>
      <button mat-raised-button [routerLink]="['edit-project/' + project.id]">Editer</button>
    </mat-card-actions>
  </mat-card>
</div>
